.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 25%;
}

.example-full-width {
  width: 100%;
}
.form-control-input{
  padding-top:2.0825rem ;
}

.disabled{
  width: 25%;
}