<p>profile</p>
<form  class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Họ và tên</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Tên đăng nhập</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Số điện thoại</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Gửi</button>
  </form>
