<div data-spy="scroll" data-target=".fixed-top">

  <!-- Preloader -->
  <div class="spinner-wrapper">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <!-- end of preloader -->


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">

      <!-- Text Logo - Use this if you don't have a graphic logo -->
      <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

      <!-- Image Logo -->
      <a style="font-size: 30px;" class="navbar-brand logo-image text-decoration-none"
        href="index.html">HouseKeeping</a>

      <!-- Mobile Menu Toggle Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
      </button>
      <!-- end of mobile menu toggle button -->

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#header">TRANG CHỦ <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#features">TÍNH NĂNG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#details">GIỚI THIỆU</a>
          </li>
        </ul>
        <span class="nav-item">
          <a class="btn-outline-sm" [routerLink]="['/authentication/login']">ĐĂNG NHẬP</a>
        </span>
      </div>
    </div> <!-- end of container -->
  </nav> <!-- end of navbar -->
  <!-- end of navigation -->


  <!-- Header -->
  <header id="header" class="header">
    <div class="header-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-xl-5">
            <div class="text-container">
              <h1>SaaS App Housekeeping</h1>
              <p class="p-large">Ứng dụng HouseKeeping quản lý tổng thể khách sạn, cung cấp cho khách hàng giải pháp
                quản lý giám sát việc dọn dẹp trong khách sạn và mang đến những tính năng mà người quản lý của bất kỳ
                khách sạn nào cũng đang rất cần thiết. </p>
              <a class="btn-solid-lg page-scroll" href="/authentication/signup">ĐĂNG KÝ</a>
            </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-lg-6 col-xl-7">
            <div class="image-container">
              <div class="img-wrapper">
                <img class="img-fluid" src="assets/housek.jpg" alt="alternative">
              </div> <!-- end of img-wrapper -->
            </div> <!-- end of image-container -->
          </div> <!-- end of col -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </div> <!-- end of header-content -->
  </header> <!-- end of header -->
  <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
    viewBox="0 0 1920 310">
    <defs>
      <style>
        .cls-1 {
          fill: #5f4def;
        }

      </style>
    </defs>
    <title>header-frame</title>
    <path class="cls-1"
      d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z" />
  </svg>
  <!-- end of header -->


  <!-- Description -->
  <div class="cards-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 style="text-align: center; color: blue;">MÔ TẢ</h2>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
      <div class="row">
        <div class="col-lg-12">

          <!-- Card -->
          <div class="card">
            <div class="card-image">
              <img class="img-fluid" src="assets/phancong.jpg" alt="alternative">
            </div>
            <div class="card-body">
              <h4 class="card-title">Phân công công việc dễ dàng</h4>
              <p>Chỉ với vài thao tác đơn giản trên ứng dụng quản lý giám sát việc dọn dẹp, người quản lý khách sạn đã
                có thể phân công công việc cho nhân viên một cách dễ dàng và nhanh chóng. </p>
            </div>
          </div>
          <!-- end of card -->

          <!-- Card -->
          <div class="card">
            <div class="card-image">
              <img class="img-fluid" src="assets/giamsat.jpg" alt="alternative">
            </div>
            <div class="card-body">
              <h4 class="card-title">Giám sát chất lượng dọn dẹp từ xa</h4>
              <p>Với những người bận rộn như quản lý sẽ không thể ở khách sạn mỗi ngày để theo dõi hiệu quả làm việc của
                nhân viên. Nhưng với ứng dụng này quản lý chỉ cần đăng nhập
                là đã có thể giám sát mọi tình hình dọn dẹp tại khách sạn.
              </p>
            </div>
          </div>
          <!-- end of card -->

          <!-- Card -->
          <div class="card">
            <div class="card-image">
              <img class="img-fluid" src="assets/nhanvien.png" alt="alternative">
            </div>
            <div class="card-body">
              <h4 class="card-title">Nhận lịch phân công nhanh chóng</h4>
              <p>Ngoài phát triển trên Website, ứng dụng còn phát triển thêm Mobile để nhân viên nhận được lịch phân
                công và thông báo từ quản lý.</p>
            </div>
          </div>
          <!-- end of card -->

        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of cards-1 -->
  <!-- end of description -->


  <!-- Features -->
  <div id="features" class="tabs">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div style="font-size: x-large;" class="above-heading">TÍNH NĂNG</div>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
      <div class="row">
        <div class="col-lg-12">

          <!-- Tabs Links -->
          <ul class="nav nav-tabs" id="argoTabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
                aria-selected="true"><i class="fas fa-list"></i>Phân công công việc</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
                aria-selected="false"><i class="fas fa-envelope-open-text"></i>Nhận lịch phân công</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
                aria-selected="false"><i class="fas fa-chart-bar"></i>Giám sát chất lượng dọn dẹp</a>
            </li>
          </ul>
          <!-- end of tabs links -->

          <!-- Tabs Content -->
          <div class="tab-content" id="argoTabsContent">

            <!-- Tab -->
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
              <div class="row">
                <div class="col-lg-6">
                  <div class="image-container">
                    <img class="img-fluid" src="assets/giamsat.jpg" alt="alternative">
                  </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                  <div class="text-container">
                    <h3>Phân công công việc dễ dàng hơn bao giờ hết</h3>
                    <p>Đối với bộ phận quản lý thì việc sử dụng ứng dụng giúp cho việc phân công dọn dẹp trở nên nhẹ
                      nhàng, đơn giản và hạn chế những sai sót tới mức tối đa. Những tính năng hỗ trợ hữu ích có khả
                      năng giúp phân công được cải thiện năng suất, đem tới kết quả cao như ý muốn với:
                    </p>
                    <ul class="list-unstyled li-space-lg">
                      <li class="media">
                        <i class="fas fa-square"></i>
                        <div class="media-body">Phân công công việc không bị trùng lặp giữa các nhân viên</div>
                      </li>
                      <li class="media">
                        <i class="fas fa-square"></i>
                        <div class="media-body">Tiết kiệm thời gian khi phân công</div>
                      </li>
                      <li class="media">
                        <i class="fas fa-square"></i>
                        <div class="media-body">Thay đổi nhân viên dễ dàng trong trường hợp nhân viên đã được phân có
                          việc đột xuất</div>
                      </li>
                    </ul>
                  </div> <!-- end of text-container -->
                </div> <!-- end of col -->
              </div> <!-- end of row -->
            </div> <!-- end of tab-pane -->
            <!-- end of tab -->

            <!-- Tab -->
            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
              <div class="row">
                <div class="col-lg-6">
                  <div class="image-container">
                    <img class="img-fluid" src="assets/mobile.jpg" alt="alternative">
                  </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                  <div class="text-container">
                    <h3>Nhận lịch phân công công việc thông qua điện thoại</h3>
                    <p>Ứng dụng được xây dựng trên điện thoại hỗ trợ quản lý giúp nhân viên có thể thực hiện kiểm tra
                      nhanh chóng,
                      tiến hành dọn dẹp khách sạn thông qua yêu cầu, thông báo từ quản lý qua điện thoại.
                      Từ đó công việc của bộ phận buồng phòng đơn giản, giảm thiểu đi đáng kể. Lúc này, công việc chính
                      của bộ phận buồng phòng là:</p>
                    <ul class="list-unstyled li-space-lg">
                      <li class="media">
                        <i class="fas fa-square"></i>
                        <div class="media-body">Theo dõi tình trạng phòng và khu vực công cộng trong khách sạn thông qua
                          màu sắc được thể hiện cụ thể, có quy ước rõ ràng giúp việc sắp xếp công việc, chủ động trong
                          dọn dẹp phòng được tiến hành thuận lợi</div>
                      </li>
                      <li class="media">
                        <i class="fas fa-square"></i>
                        <div class="media-body">Chủ động hơn trong công việc, đồng thời đảm bảo mọi phòng và khu vực
                          công cộng cần dọn dẹp đều được tiến hành nhanh chóng, kịp thời tránh ảnh hưởng tới hoạt động
                          chung của khách sạn</div>
                      </li>
                      <li class="media">
                        <i class="fas fa-square"></i>
                        <div class="media-body">Kiểm tra lại trạng thái phòng, trạng thái khu vực công cộng, thực hiện
                          việc chuyển trạng thái phòng tự động theo đúng yêu cầu, đúng quy trình</div>
                      </li>
                    </ul>
                  </div> <!-- end of text-container -->
                </div> <!-- end of col -->
              </div> <!-- end of row -->
            </div> <!-- end of tab-pane -->
            <!-- end of tab -->

            <!-- Tab -->
            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="image-container">
                    <img class="img-fluid" src="assets/gs.png" alt="alternative">
                  </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                  <div class="text-container">
                    <h3>Giám sát chất lượng dọn dẹp từ xa</h3>
                    <p>Trong những ngày bạn phải đi công tác xa có khi đến một tuần hay nửa tháng,
                      bạn không thể trực tiếp đến khách sạn để kiểm tra, quản lý. Đừng lo lắng,
                      ứng dụng quản lý giám sát việc dọn dẹp trong khách sạn cho phép bạn có thể truy cập và điều khiển
                      từ xa, nắm bắt
                      tình hình dọn dẹp của khách sạn và kịp thời giải quyết những vấn đề phát sinh
                      xảy ra ở khách sạn.</p>
                  </div> <!-- end of text-container -->
                </div> <!-- end of col -->
              </div> <!-- end of row -->
            </div> <!-- end of tab-pane -->
            <!-- end of tab -->

          </div> <!-- end of tab content -->
          <!-- end of tabs content -->

        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of tabs -->
  <!-- end of features -->



  <!-- Details -->
  <div id="details" class="basic-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-container">
            <h2>Bây giờ là lúc bạn cần nâng cấp giải pháp quản lý giám sát dọn dẹp trong khách sạn</h2>
            <p>Với những lợi ích vượt trội trên, ứng dụng quản lý giám sat việc dọn dẹp trong khách sạn
              chính là sự lựa chọn lý tưởng để các nhà quản lý có thể quản lý mọi hoạt động dọn dẹp một
              cách hiệu quả mà vẫn tiết kiệm thời gian, công sức đến mức tối đa.</p>
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">Đầu tư vào chất lượng dọn dẹp chính là đầu tư cho sự phát triển của khách sạn.
                </div>
              </li>
              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">Một khách sạn luôn trong tình trạng sạch sẽ và phản hồi yêu cầu của khách hàng
                  nhanh chóng sẽ đạt điểm tối đa trong mắt khách hàng.</div>
              </li>
            </ul>
            <a class="btn-solid-reg page-scroll" href="/authentication/signup">ĐĂNG KÝ NGAY</a>
          </div> <!-- end of text-container -->
        </div> <!-- end of col -->
        <div class="col-lg-6">
          <div class="image-container">
            <img class="img-fluid" src="assets/phong.jpg" alt="alternative">
          </div> <!-- end of image-container -->
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of basic-1 -->
  <!-- end of details -->


  <!-- Footer -->
  <svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
    viewBox="0 0 1920 79">
    <defs>
      <style>
        .cls-2 {
          fill: #5f4def;
        }

      </style>
    </defs>
    <title>footer-frame</title>
    <path class="cls-2"
      d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z"
      transform="translate(0 -0.188)" />
  </svg>
  <div class="footer">
  </div> <!-- end of footer -->
  <!-- end of footer -->

</div>
