<p>Nhận xét</p>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Tên nhân viên</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Đèn bàn bị hư hỏng.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button style="background-color: grey;" mat-button>PHẢN HỒI</button>
    </mat-card-actions>
  </mat-card>
<br>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Tên nhân viên</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Đèn bàn bị hư hỏng.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button style="background-color: grey;" mat-button>PHẢN HỒI</button>
    </mat-card-actions>
  </mat-card>
  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Tên nhân viên</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Đèn bàn bị hư hỏng.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button style="background-color: grey;" mat-button>PHẢN HỒI</button>
    </mat-card-actions>
  </mat-card>