<div></div>
<div class="a" *ngIf="!dataSource.id">
<mat-form-field>
  <mat-label> Email</mat-label>
  <input matInput [(ngModel)]="email">
</mat-form-field>
</div>
<div *ngIf="dataSource.id">
  <div *ngFor="let column of columns">
    <div *ngIf="column !== 'id'">
      <div *ngIf="properties[column].relationship">
        <div *ngIf="properties[column].datasource">
          <mat-form-field appearance="fill">
            <mat-label> {{properties[column].alias}}</mat-label>
            <mat-select [(ngModel)]="dataSource[column]">
              <mat-option *ngFor="let food of properties[column].datasource" [value]="food.id">
                {{food.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="!properties[column].relationship">
        <mat-form-field>
          <mat-label> {{properties[column].alias}}</mat-label>
          <input matInput [(ngModel)]="dataSource[column]">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div class="b" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Đóng</button>
  <button mat-button cdkFocusInitial (click)="create()">Lưu</button>
</div>
