<p>Nhận xét</p>
<mat-card class="example-card">
      <mat-card-title>Bùi Thị Thu Hằng</mat-card-title>
    <mat-card-content>
      <p>
        Đèn bàn bị hư hỏng, khách hàng muốn thay cái mới để tiện làm việc.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button style="background-color: grey;" mat-button>PHẢN HỒI</button>
    </mat-card-actions>
  </mat-card>
<br>
  <mat-card class="example-card">
      <mat-card-title>Đặng Ngọc Thạch</mat-card-title>
    <mat-card-content>
      <p>
        Sàn nhà còn bẩn, ga giường chưa được thay (tại phòng P101).
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button style="background-color: grey;" mat-button>PHẢN HỒI</button>
    </mat-card-actions>
  </mat-card>
  <br>

  